﻿@model Book.Models.Grqer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Grqer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.vernagir)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vernagir)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.heghinak)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.heghinak)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qanak)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qanak)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
