﻿@model IEnumerable<Book.Models.Grqer>

@{
    ViewBag.Title = "Gradaran";
}

<h2>GRADARAN</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.vernagir)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.heghinak)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.qanak)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.vernagir)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.heghinak)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.qanak)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
